.milan {
    width: 100px;
    transition-duration: 2s;
}
body {
    background-image: url("obrazky/IMG_2509.JPEG");
}
.mhm {
    text-align: center;
}

.milan:hover {
    rotate: 360deg;
}
.h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
p.milan {
border-style: solid;
}
