#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vrch {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vpravo {
  background-color: brown;
  height: 90px;
  width: 90px;
  border: 1px solid black;
  margin-right: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vlevo {
  background-color: brown;
  height: 90px;
  width: 90px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stred {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.konec {
  height: 100%;
  width: 100%;
  background-image: url(./background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.strednovi {
  height: 35px;
  width: 140px;
  background-color: rgb(173, 16, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.stredskola {
  height: 35px;
  width: 780px;
  background-color: rgb(173, 16, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
.dole {
  height: 55%;
  width: 50%;
  gap: 5px;
  padding: 10px;
  background-color: rgb(238, 238, 238);
}
.dole2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.vypln {
  background-color: rgb(68, 68, 68);
  height: 70px;
  width: 250px;
  padding: 20px;
  border: rgb(238, 238, 238) solid 3px;
}
.dole3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.budova {
  background-color: rgb(68, 68, 68);
  height: 140px;
  width: 250px;
  padding: 20px;
  border: rgb(238, 238, 238) solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lastchange {
  height: 120%;
  min-width: 112%;
  background-image: url(./budova.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.triveci {
  background-color: rgb(238, 238, 238);
  height: 180px;
  width: 245px;
  border: rgb(238, 238, 238) solid 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}
.novinka {
  width: 110%;
  height: 33%;
  background-image: url(./novy.PNG);
  background-size: 100% 100%;

  border: rgb(68, 68, 68) 10px solid;
}
.radiometr {
  width: 110%;
  height: 33%;
  background-image: url(./radio.PNG);
  background-size: 100% 100%;

  border: rgb(68, 68, 68) 10px solid;
}
.projekty {
  width: 110%;
  height: 33%;
  background-image: url(./projekty.PNG);
  background-size: 100% 100%;
  border: rgb(68, 68, 68) 10px solid;
}
.trivec2 {
  background-color: rgb(68, 68, 68);
  height: 140px;
  width: 250px;
  padding: 20px;
  border: rgb(238, 238, 238) solid 3px;
  display: flex;
}
